@charset "ISO-8859-1";

input[type="checkbox"]{
    width: 1.15em;
    height: 1.15em;
    margin-right:20px;
    margin-left:20px;
    text-align:center;
    border: 0.15em solid currentColor;
    border-radius: 1000em;
    transform: translateY(-0.075em);
  }
  .final{
      width:50%;
      color:black;
  
      border-radius:15px;
      border-style: groove;
      padding:12px;
      border-width:6px;
  border-color:rgb(168, 166, 37);
  }
  #me{
      width:10%;
      padding: 14px 20px;
    margin: 8px 100px;
    background-color: rgb(241,197,14);
    color: black;
  }
  input[type=submit]  {
    width: 40%;
    background-color: rgb(241,197,14);
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    ;
  }
  
  input[type=submit]:hover {
    background-color: rgba(218, 177, 15, 0.897);
  }
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
      #blink {
          font-size: 20px;
          font-weight: bold;
          font-family: sans-serif;
      }
  
      .blink_1 {
          animation: blinker 1s linear infinite;
      }
  
      @keyframes blinker {
          50% {
              opacity: 0;
          }
      }