@charset "ISO-8859-1";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
  outline: none;
}

body {
    background-image: url('background.jpg'); 
    background-position: center center; 
    background-size: 100% 100%; 
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #222;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
}

#login-box {
  position: relative;
  margin: 5% auto;
  width: 80%;
  height: 80%;
  background: #FFFFFF33;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.left {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 70%;
  height: 100%;
  overflow: auto;

}

/* Hide scrollbar for Chrome, Safari and Opera */
.left::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .left {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

h1 {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 3vw;
}

fieldset {
  width: 60%;
}

legend {
	font-size: 1.3vw;
}
input[type="text"],
input[type="password"],
input[type="email"] {
  display: block;
  box-sizing: border-box;
  background-color: transparent;
  margin-bottom: 20px;
  padding: 4px;
  width: 75%;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
  color: white;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  border-bottom: 2px solid rgb(241,197,14);
  color: rgb(241,197,14);
  transition: 0.2s ease;
}

input[type="submit"] {
  margin-top: 28px;
  width: 120px;
  height: 32px;
  background: rgb(241,197,14);
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}
::placeholder { 
  color: white;
}
.or {
  position: absolute;
  top: 48%;
  left: 65%;
  width: 5vw;
  height: 5vw;
  background: rgb(241,197,14);
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  line-height: 5vw;
  text-align: center;
}

.right {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 30%;
  height: 100%;
  background: url('https://goo.gl/YbktSj');
  background-size: cover;
  background-position: center;
  border-radius: 0 2px 2px 0;
  overflow: auto;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.right::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.right {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.right .loginwith {
  display: block;
  margin-bottom: 40px;
  font-size: 2.5vw;
  color: #FFF;
  text-align: center;
}

.fa {
	right: 50%;
    padding: 20px;
    font-size: 2vw;
    width: 3vw;
    height: auto;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
   
  .fa:hover {
    opacity: 0.7;
  }
  
  #customBtn {
      display: inline-block;
      background: white;
      color: #444;
      width: 190px;
      border-radius: 5px;
      border: thin solid #888;
      box-shadow: 1px 1px 1px grey;
      white-space: nowrap;
    }
    #customBtn:hover {
      cursor: pointer;
    }
    span.label {
      font-family: serif;
      font-weight: normal;
    }
    span.icon {
      background: url('/identity/sign-in/g-normal.png') transparent 5px 50% no-repeat;
      display: inline-block;
      vertical-align: middle;
      width: 42px;
      height: 42px;
    }
    span.buttonText {
      display: inline-block;
      vertical-align: middle;
      padding-left: 42px;
      padding-right: 42px;
      font-size: 14px;
      font-weight: bold;
      /* Use the Roboto font that is loaded in the <head> */
      font-family: 'Roboto', sans-serif;
    }